/* basic style*/

.div {
    margin: 2em auto;
    width: 100px;
    color: white;
    font-size: 14px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em 0.5em;
    cursor: pointer;
  }
  
  
  /*background style */

  .div {
    background: linear-gradient(#252525, #252525 50%, #2ecc71 50%, #2ecc71);
    background-size: 100% 200%;
    /*trasition effect for background*/
    transition: background 1s;
  }
  
  .div:hover {
    background-position: 100% 100%;
  }